body{
    background-color: rebeccapurple;
}

*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 99.5vw;
    height:99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title{
    width: auto;
    height: 100px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#292625;
    border-radius: 5px;
}

.title p{
    font-size: 4.5em;
    font-weight: 550;
    color: rgb(252,252,252);
}

.counter-container{
    width: auto;
    height: auto;
    margin: 2px;
    border-radius: 5px;
    background:#292625;
    display: flex;
    flex-direction: column;
}

.counter{
    width: auto;
    margin: 2px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter p{
    color: white;
    font-size: 16em;
    font-weight: 750;
}

.buttons{
    width: auto;
    margin: 2px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button-edit{
    font-size: 25px;
    padding: 15px;
    width: 120px;
    margin: 10px;
}

hr{
    color: white;
}

@media (max-height:450px){
    .counter{
        font-size: 8px;
        height: 100px;
    }

    .button-edit{
        font-size: 18px;
        width: 80px;
        height: 30px;
        padding: 0px;
    }
    .container{
        width: 400px;
    }
    .title{
        font-size: 10px;
        height: 60px;
    }
}

@media (min-height:451px) and (max-height:595px){
    .counter{
        font-size: 10px;
        height: 150px;
    }
}

